[user]
	email = andreea@ieval.ro
	name = arrws

[credential]
    helper = store

[rerere]
    enabled = false

[branch]
    autosetuprebase = always

[pull]
    rebase = false

[core]
    pager = delta
    editor = vi

[interactive]
    diffFilter = delta

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[color]
    ui = auto

[color "status"]
    header = "#EEEEEE"
    branch = "#EEEEEE"
    nobranch = "#FF0000"
    added = "#00D75F"
    updated = "#00D75F"
    changed = "#5FAFFF"
    untracked = "#A8A8A8"
    unmerged = "bold #FF0000"

[color "diff"]
    meta = "#5FAFFF"
    old = "#FF0000"
    new = "#00D75F"

[delta]
    navigate = true
    features = delta

[delta "delta"]
    syntax-theme = "none"
    hyperlinks = true

    darkgreen = "#000000"
    darkred = "#000000"
    green = "#5FFF5F"
    red = "#FF0000"

    map-styles = \
       bold purple => delta.darkred, \
       bold blue => syntax "#000000", \
       bold cyan => delta.darkgreen, \
       bold yellow => syntax "#000000"

    side-by-side = false
    line-numbers = true
    line-numbers-left-format = "{nm:>3} "
    line-numbers-right-format = "{np:>3} │"
    line-numbers-left-style = "#585858"
    line-numbers-right-style = "#1C1C1C"
    line-numbers-minus-style = "#FF0000"
    line-numbers-plus-style = "#00D75F"
    line-numbers-zero-style = "#585858"

    keep-plus-minus-markers = false
    plus-non-emph-style = syntax
    plus-emph-style = "#5FFF5F" "#000000" bold
    plus-style = "#87D7AF" "#000000"
    plus-empty-line-marker-style = "#000000"
    minus-non-emph-style = syntax
    minus-emph-style = "#FF0000" "#000000" bold
    minus-style = "#FF5F5F" "#000000"
    minus-empty-line-marker-style = "#000000"

    hunk-header-style = omit
    hunk-header-decoration-style = omit
    hunk-header-file-style = omit
    hunk-header-line-number-style = omit

    file-style = bold "#5FAFFF"
    file-decoration-style = omit
    file-added-label = >
    file-copied-label = >
    file-modified-label = >
    file-removed-label = >
    file-renamed-label = >

    inline-hint-style = omit
    whitespace-error-style = "#FFFFFF" "#FF0000"
    zero-style = syntax
    grep-file-style = "#5FAFFF"
    grep-line-number-style = "#808080"
    blame-code-style = syntax
    blame-separator-style = omit
    commit-style = "#5FAFFF"
    commit-decoration-style = omit
    merge-conflict-ours-diff-header-style = "#5FAFFF"
    merge-conflict-ours-diff-header-decoration-style = omit
    merge-conflict-theirs-diff-header-style = "#FF0000"
    merge-conflict-theirs-diff-header-decoration-style = omit
