[user]
	email = andreea@ieval.ro
	name = arrws

[credential]
	helper = store

[branch]
	autosetuprebase = always

[pull]
	rebase = false

[core]
    pager = delta --features=xtheme

[interactive]
    diffFilter = delta --features=xtheme

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default


[delta "xtheme"]
    line-numbers=true
    line-numbers-left-format="{nm:>2}:"
    line-numbers-right-format="{np:>2}|"
    line-numbers-left-style="black"
    line-numbers-right-style="black"
    line-numbers-minus-style="#990000"
    line-numbers-zero-style="#666666"
    line-numbers-plus-style="#007700"
    hunk-header-style="omit"
    file-decoration-style=""
    file-style="brightblue"
    hyperlinks=true
    ; style : whole lines, emph: words only, non-emph: rest of lines where empth
    plus-non-emph-style="syntax" ; #001100
    plus-emph-style="#00DD00"
    plus-style="#00DD00"
    minus-non-emph-style="syntax"
    minus-emph-style="#FF0000"
    minus-style="#FF0000"
    ; syntax-theme="xtheme"
    syntax-theme="none"
